@page "/"
@rendermode InteractiveServer
@using eShopSupport.ServiceDefaults.Clients.Backend
@inject BackendClient Backend

<Title>Tickets</Title>

<div>
    <FluentDataGrid Items="@tickets" ItemKey="@(t => t.TicketId)" Virtualize="true" GridTemplateColumns="100px auto 100px" GenerateHeader="GenerateHeaderOption.Sticky">
        <ChildContent>
            <PropertyColumn Title="#" Property="@(t => t.TicketId)" Sortable="true" Align="Align.Center" />
            <PropertyColumn Title="Customer" Property="@(t => t.CustomerFullName)" Sortable="true" />
            <PropertyColumn Title="Messages" Property="@(t => t.NumMessages)" Sortable="true" Align="Align.Center" />
        </ChildContent>
        <LoadingContent>
            <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center">
                Loading...<br />
                <FluentProgress Width="240px" />
            </FluentStack>
        </LoadingContent>
    </FluentDataGrid>
</div>

@code {
    IQueryable<ListTicketsResult>? tickets;

    protected override async Task OnInitializedAsync()
    {
        tickets = (await Backend.ListTicketsAsync()).AsQueryable();
    }
}
