@using Microsoft.FluentUI.AspNetCore.Components
<div class="filter">
    <FluentTabs Style="flex-grow: 1">
        <FluentTab Label="@OpenLabel" Icon="@(new Icons.Regular.Size20.Mail())" />
        <FluentTab Label="@ClosedLabel" Icon="@(new Icons.Regular.Size20.Checkmark())" />
    </FluentTabs>

    <FluentAutocomplete Width="" TOption="string" @bind-SelectedOptions="@selectedCategories"
        MaximumSelectedOptions="3" Placeholder="Filter by category" style="min-width: 12rem;" />
</div>

@code {
    private IEnumerable<string> selectedCategories = Array.Empty<string>();

    [Parameter]
    public int? TotalOpenCount { get; set; }

    [Parameter]
    public int? TotalClosedCount { get; set; }

    private string OpenLabel => $"{TotalOpenCount} Open";

    private string ClosedLabel => $"{TotalClosedCount} Closed";
}
