@using Microsoft.FluentUI.AspNetCore.Components
@using eShopSupport.ServiceDefaults.Clients.Backend
@inject IJSRuntime JS
@inject BackendClient Backend

<div class="messages-scroller">

    <div class="messages">
        @for (var i = 0; i < messages.Count; i++)
        {
            var messageId = @$"message{i}";
            var message = messages[i];
            <div class="message @(message.IsAssistant ? "assistant" : "")" @key="@messageId">
                <div class="sender-icon">
                    <FluentPersona Image="@(message.IsAssistant ? assistantImage : anonymousPersonImage)" ImageSize="30px" />
                </div>
                <div class="sender-name">@(message.IsAssistant ? "Assistant" : "You")</div>
                <div class="message-text">@message.Text</div>
            </div>
        }

    </div>

</div>

<form class="write-message @(ReplyInProgress ? "in-progress" : "")" @ref="@writeMessageElement" @onsubmit="@SendMessageAsync">
    <FluentButton Class="stop-responding" @onclick="@StopResponding" Appearance="Appearance.Outline">Stop responding</FluentButton>
    <FluentTextArea @bind-Value="@message" Placeholder="Ask the AI assistant&hellip;" style="width: 100%; height: 100%;" />
</form>

@code {
    CancellationTokenSource? currentReplyCancellationTokenSource;
    List<AssistantChatRequestMessage> messages = new();
    ElementReference writeMessageElement;
    string? message;
    string anonymousPersonImage = "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0OCA0OCIgd2lkdGg9IjI1cHgiIGZpbGw9IndoaXRlIiBzdHlsZT0iYmFja2dyb3VuZC1jb2xvcjogdmFyKC0tbmV1dHJhbC1sYXllci0xKTsgd2lkdGg6IDI1cHg7IiBhcmlhLWhpZGRlbj0idHJ1ZSI+PHBhdGggZD0iTTI0IDRhMTAgMTAgMCAxIDAgMCAyMCAxMCAxMCAwIDAgMCAwLTIwWm0tNy41IDEwYTcuNSA3LjUgMCAxIDEgMTUgMCA3LjUgNy41IDAgMCAxLTE1IDBabS00LjI1IDE0QTQuMjUgNC4yNSAwIDAgMCA4IDMyLjI1VjMzYzAgMy43NiAxLjk0IDYuNTcgNC45MiA4LjM4QzE1Ljg1IDQzLjE2IDE5Ljc5IDQ0IDI0IDQ0czguMTUtLjg0IDExLjA4LTIuNjJDMzguMDYgMzkuNTcgNDAgMzYuNzYgNDAgMzN2LS43NUM0MCAyOS45IDM4LjEgMjggMzUuNzUgMjhoLTIzLjVabS0xLjc1IDQuMjVjMC0uOTcuNzgtMS43NSAxLjc1LTEuNzVoMjMuNWMuOTcgMCAxLjc1Ljc4IDEuNzUgMS43NVYzM2MwIDIuNzQtMS4zNiA0LjgtMy43MiA2LjI0LTIuNDEgMS40Ny01Ljg1IDIuMjYtOS43OCAyLjI2LTMuOTMgMC03LjM3LS43OS05Ljc4LTIuMjYtMi4zNi0xLjQzLTMuNzItMy41LTMuNzItNi4yNHYtLjc1WiIvPjwvc3ZnPg==";
    string assistantImage = "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='white' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 18v-5.25m0 0a6.01 6.01 0 0 0 1.5-.189m-1.5.189a6.01 6.01 0 0 1-1.5-.189m3.75 7.478a12.06 12.06 0 0 1-4.5 0m3.75 2.383a14.406 14.406 0 0 1-3 0M14.25 18v-.192c0-.983.658-1.823 1.508-2.316a7.5 7.5 0 1 0-7.517 0c.85.493 1.509 1.333 1.509 2.316V18' /%3E%3C/svg%3E%0A";

    bool ReplyInProgress => currentReplyCancellationTokenSource?.IsCancellationRequested == false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await using var module = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/Ticket/TicketAssistant.razor.js");
            await module.InvokeVoidAsync("submitOnEnter", writeMessageElement);
        }
    }

    async Task SendMessageAsync()
    {
        if (!string.IsNullOrWhiteSpace(message))
        {
            StopResponding();

            // Add the user's message immediately
            messages.Add(new AssistantChatRequestMessage { Text = message });
            message = null;

            currentReplyCancellationTokenSource = new CancellationTokenSource();
            var cancellationToken = currentReplyCancellationTokenSource.Token;
            var placeholderText = "...";
            var responseMessage = new AssistantChatRequestMessage { IsAssistant = true, Text = placeholderText };

            try
            {
                // Submit the message to the backend, and wait for the response to begin
                var request = new AssistantChatRequest(messages);
                var responseTask = Backend.AssistantChatAsync(request, cancellationToken);
                await Task.WhenAny(responseTask, Task.Delay(500));

                // Even if the response hasn't started yet, add a placeholder into the UI
                messages.Add(responseMessage);
                StateHasChanged();

                // As the response streams in, update the UI
                var responseStream = await responseTask;
                using var responseStreamReader = new StreamReader(responseStream);
                var buffer = new char[64];
                var numCharsRead = 0;
                while ((numCharsRead = await responseStreamReader.ReadAsync(buffer, cancellationToken)) > 0)
                {
                    if (responseMessage.Text == placeholderText)
                    {
                        responseMessage.Text = string.Empty;
                    }

                    responseMessage.Text += new string(buffer, 0, numCharsRead);
                    StateHasChanged();
                }

                currentReplyCancellationTokenSource = null;
            }
            catch (TaskCanceledException)
            {
                // Not an error. We'll keep the partial text if there is any, but don't keep the placeholder alone.
                if (responseMessage.Text == placeholderText)
                {
                    messages.Remove(responseMessage);
                }
            }
        }
    }

    private void StopResponding()
    {
        currentReplyCancellationTokenSource?.Cancel();
        currentReplyCancellationTokenSource = null;
    }
}
