@page "/ticket/{ticketId:int}"
@using Microsoft.FluentUI.AspNetCore.Components
@using eShopSupport.ServiceDefaults.Clients.Backend
@using SmartComponents
@inject BackendClient Backend

<Title>Ticket @TicketId</Title>

<div class="ticket">
    <FluentSplitter BarSize="6" BarHandle="false" Panel1MinSize="300px" Panel2Size="350px" Panel2MinSize="200px" Class="splitter">
        <Panel1>
            <div class="details">
                <TicketDetails Ticket="@ticket" />
            </div>
            <div class="messages">
                <TicketMessages Ticket="@ticket" />
            </div>
            <div class="write-message">
                <div class="textarea-host">
                    <SmartTextArea @bind-Value="@messageText" class="control" UserRole="@GetSmartTextAreaRole()" placeholder="Reply to the customer" style="width: 100%; height: 100%;" />
                </div>
            </div>
        </Panel1>
        <Panel2>
            <div class="assistant">
                <TicketAssistant TicketId="@TicketId" />
            </div>  
        </Panel2>
    </FluentSplitter>
</div>

@code {
    private TicketDetailsResult? ticket;
    private string? messageText;

    private readonly static string smartTextAreaRolePrefix = "Customer support agent for a company called Northern Mountains";
    private readonly static string[] smartTextAreaPhrases = [
        "Thanks for your message.",
        "For returns, please visit https://northernmountains.example.com/returns. You can return an item within 30 days if unusued, or up to 1 year if defective.",
    ];

    [Parameter]
    public int TicketId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ticket = null;
        ticket = await Backend.GetTicketDetailsAsync(TicketId);
    }
}
