@page "/ticket/{ticketId:int}"
@using Microsoft.FluentUI.AspNetCore.Components
@using eShopSupport.ServiceDefaults.Clients.Backend
@inject BackendClient Backend

<Title>Ticket @TicketId</Title>

<div class="ticket">
    <FluentSplitter BarSize="6" BarHandle="false" Panel1MinSize="300px" Panel2Size="350px" Panel2MinSize="200px" Class="splitter">
        <Panel1>
            <div class="details">
                <TicketDetails Ticket="@ticket" />
            </div>
            <div class="messages">
                <TicketMessages Ticket="@ticket" />
            </div>
            <div class="write-message">
                <FluentTextArea @ref="replyTextArea" @bind-Value="@replyText" Placeholder="Reply to the customer" style="width: 100%; height: 100%;" />
            </div>
        </Panel1>
        <Panel2>
            <div class="assistant">
                <TicketAssistant TicketId="@TicketId" OnSuggestedReply="@AcceptSuggestedReply" />
            </div>  
        </Panel2>
    </FluentSplitter>
</div>

@code {
    private TicketDetailsResult? ticket;
    private string? replyText;
    private FluentTextArea? replyTextArea;

    [Parameter]
    public int TicketId { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        ticket = null;
        ticket = await Backend.GetTicketDetailsAsync(TicketId);
    }

    private void AcceptSuggestedReply(string suggestion)
    {
        replyText = suggestion;
        replyTextArea?.FocusAsync();
    }
}
